<meta charset="utf-8" />
<div class="navbar-default sidebar" role="navigation">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
			<li><a href="@{Admin.index}"><i class="fa fa-home fa-fw"></i> Início</a></li>
			<li style="display: ${enableUser == 'false' ? 'none' : 'block'};">
				<a href="#"><i class="fa fa-edit fa-fw"></i> Páginas e Artigos<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
                	<li><a href="@{ParameterCRUD.showIndexPage(1)}">Página Inicial</a></li>
					<li><a href="@{ArticleCRUD.list}">Artigos</a></li>
					<li><a href="@{SellPageCRUD.list}">Páginas de Venda</a></li>
					<li><a href="@{FreePageCRUD.list}">Páginas Livre</a></li>
					<li><a href="@{HighlightProductCRUD.list}">Produtos em Oferta</a></li>
				</ul>
			</li>
			<li style="display: ${enableUser == 'false' ? 'none' : 'block'};">
				<a href="#"><i class="fa fa-paper-plane-o fa-fw"></i> Funis de E-mails<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="@{MailListCRUD.listAll}">Leads Capturados</a></li>
					<li><a href="@{SequenceMailCRUD.listAll}">Criar Sequência de E-mails</a></li>
					<li><a href="@{SequenceMailQueueCRUD.listAll}">Fila de E-mails</a></li>
					<li><a href="@{MailBaseCRUD.list}">Base de E-mails</a></li>
				</ul>
			</li>
			<li style="display: ${enableUser == 'false' ? 'none' : 'block'};">
				<a href="#"><i class="fa fa-gears fa-fw"></i> Configurações Gerais<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
                	<li>
						<a href="@{ParameterCRUD.showSocialMediaPage(1)}">Redes Sociais</a>
					</li>
                	<li>
						<a href="@{ParameterCRUD.showHashKeysPage(1)}">Chaves de Integração</a>
					</li>
                	<li>
						<a href="#">Minhas Coisas <span class="fa arrow"></span></a>
	                    <ul class="nav nav-third-level">
							<li><a href="/admin/empresa/${id}">Dados da Empresa</a></li>
							<li><a href="/admin/usuario/${idu}">Meus dados</a></li>
							<li><a href="@{MonetizzeTransactionCRUD.list}">Monetizze</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="@{MessageCRUD.list}"><i class="fa fa-reply fa-fw"></i> Mensagens Recebidas</a></li>
			<li><a href="@{Secure.logout()}"><i class="fa fa-power-off fa-fw"></i> Sair</a></li>
		</ul>
	</div>
</div>