<meta charset="utf-8" />
<div class="navbar-default sidebar" role="navigation" style="top: 24px;">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
			<li><a href="@{Admin.index}"><i class="fa fa-home fa-fw"></i> Início</a></li>
			
			<li style="display: ${enableUser == 'false' ? 'none' : 'block'};">
				<a href="#"><i class="fa fa-user-plus fa-fw"></i> 1º Clientes<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="@{ClientCRUD.blank}"><i class="fa fa-plus-circle fa-fw"></i> Criar Novo</a></li>
					<li><a href="@{ClientCRUD.list}"><i class="fa fa-user-plus fa-fw"></i> Lista de Clientes</a></li>
				</ul>
			</li>

			<li style="display: ${enableUser == 'false' ? 'none' : 'block'};">
				<a href="#"><i class="fa fa-wrench fa-fw"></i> 2º Serviços<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="@{ServiceCRUD.blank}"><i class="fa fa-plus-circle fa-fw"></i> Criar Novo</a></li>
					<li><a href="@{ServiceCRUD.list}"><i class="fa fa-wrench fa-fw"></i> Lista de Serviços</a></li>
				</ul>
			</li>

			<li style="display: ${enableUser == 'false' ? 'none' : 'block'};">
				<a href="#"><i class="fa fa-qrcode fa-fw"></i> 3º Gerar OS<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="@{OrderOfServiceCRUD.blank}"><i class="fa fa-plus-circle fa-fw"></i> Criar Nova</a></li>
					<li><a href="@{OrderOfServiceCRUD.list}"><i class="fa fa-qrcode fa-fw"></i> Lista de OSs</a></li>
				</ul>
			</li>

			<li style="display: ${enableUser == 'false' ? 'none' : 'block'};">
				<a href="@{OrderOfServiceCRUD.updateOrder}"><i class="fa fa-battery-half fa-fw"></i> 4º. Atualizar Pedidos</a>
			</li>
			
			<li style="display: ${enableUser == 'false' ? 'none' : 'block'};">
				<a href="@{ActivitiesCRUD.timeline}"><i class="fa fa-history fa-fw"></i> Timeline do Cliente</a>
			</li>

			<li style="display: ${enableUser == 'false' ? 'none' : 'block'};">
				<a href="#"><i class="fa fa-puzzle-piece fa-fw"></i> Atividades<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="@{ActivitiesCRUD.blank}"><i class="fa fa-plus-circle fa-fw"></i> Criar Nova</a></li>
					<li><a href="@{ActivitiesCRUD.list}"><i class="fa fa-puzzle-piece fa-fw"></i> Lista de Atividades</a></li>
				</ul>
			</li>

			<li style="display: ${enableUser == 'false' ? 'none' : 'block'};">
				<a href="@{OrderOfServiceCRUD.evaluation}"><i class="fa fa-edit fa-fw"></i> Avaliação do Cliente</a>
			</li>

			<li style="display: ${enableUser == 'false' ? 'none' : 'block'};">
				<a href="@{OrderOfServiceCRUD.afterSale}"><i class="fa fa-heartbeat fa-fw"></i> Pós-venda</a>
			</li>

			<li style="display: ${enableUser == 'false' ? 'none' : 'block'};">
				<a href="@{OrderOfServiceCRUD.afterSaleScript}"><i class="fa fa-map-signs fa-fw"></i> Script de Pós-venda</a>
			</li>

			<li style="display: none">
				<a href="#"><i class="fa fa-plane fa-fw"></i> Notificações Enviadas<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="@{StatusPushCRUD.list}"><i class="fa fa-paper-plane fa-fw"></i> Push Enviadas</a></li>
					<li style="display: none;"><a href="@{StatusSmsCRUD.list}"><i class="fa fa-paper-plane-o fa-fw"></i> SMSs Enviadas</a></li>
					<li><a href="@{StatusMailCRUD.list}"><i class="fa fa-mail-forward fa-fw"></i> E-mails Enviados</a></li>
				</ul>
			</li>
			
			<li style="display: ${enableUser == 'false' ? 'none' : 'block'};">
				<a href="#"><i class="fa fa-gears fa-fw"></i> Configurações<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="/admin/empresa/${id}">Dados da Empresa</a></li>
					<li><a href="/admin/usuario/${idu}">Meus dados</a></li>
				</ul>
			</li>
			<li style="display: ${poweradmin == 'false' ? 'none' : 'block'};"><a href="@{howtodo.AdminPub.index}" target="_blank"><i class="fa fa-sitemap fa-fw"></i> ( Área Pública )</a></li>
			<li><a href="@{Secure.logout()}"><i class="fa fa-power-off fa-fw"></i> Sair</a></li>
		</ul>
	</div>
</div>