<meta charset="utf-8" />
<div class="navbar-default sidebar" role="navigation" style="top: 24px;">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
			<li><a href="@{howtodo.AdminPub.index}"><i class="fa fa-home fa-fw"></i> Início</a></li>
			<li style="display: ${poweradmin == 'false' ? 'none' : 'block'};"><a href="@{InstitutionCRUD.listAll}"><i class="fa fa-home fa-fw"></i> Empresas Cadastradas</a></li>
			<li style="display: ${poweradmin == 'false' ? 'none' : 'block'};"><a href="@{UserCRUD.listAll}"><i class="fa fa-users fa-fw"></i> Usuários Cadastrados</a></li>
	        <li style="display: ${enableUser == 'false' ? 'none' : 'block'};">
				<a href="#"><i class="fa fa-edit fa-fw"></i> Páginas e Artigos<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
                	<li><a href="@{howtodo.ParameterCRUD.showIndexPage(1)}">Página Inicial e Estilos</a></li>
					<li><a href="@{howtodo.ArticleCRUD.list}">Artigos</a></li>
					<li><a href="@{howtodo.SellPageCRUD.list}">Páginas de Venda</a></li>
					<li><a href="@{howtodo.FreePageCRUD.list}">Páginas Livre</a></li>
					<li><a href="@{howtodo.HighlightProductCRUD.list}">Produtos em Oferta</a></li>
				</ul>
			</li>
			<li style="display: ${enableUser == 'false' ? 'none' : 'block'};">
				<a href="#"><i class="fa fa-users fa-fw"></i> Leads<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="@{howtodo.MailListCRUD.performance}">Performance</a></li>
					<li><a href="@{howtodo.MailListCRUD.listAll}">Leads Capturados</a></li>
				</ul>
			</li>
			<li style="display: ${enableUser == 'false' ? 'none' : 'block'};">
				<a href="#"><i class="fa fa-paper-plane-o fa-fw"></i> Funis de E-mail<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="@{howtodo.SequenceMailCRUD.listAll}">Sequência de E-mails</a></li>
					<li><a href="@{howtodo.SequenceMailQueueCRUD.listAll}">Fila de Envios</a></li>
					<li><a href="@{howtodo.SequenceMailQueueCRUD.listAllGrouped}">Fila de Envios Agrupada</a></li>
					<li><a href="@{howtodo.MailBaseCRUD.list}">Base de E-mails</a></li>
				</ul>
			</li>
			<li style="display: ${enableUser == 'false' ? 'none' : 'block'};">
				<a href="#"><i class="fa fa-edit fa-fw"></i> Pesquisa de Opinião<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="@{howtodo.LeadSearchQuestionCRUD.list}">Perguntas</a></li>
					<li><a href="@{howtodo.LeadSearchAnswerCRUD.list}">Respostas</a></li>
				</ul>
			</li>
			<li style="display: ${enableUser == 'false' ? 'none' : 'block'};">
				<a href="#"><i class="fa fa-gears fa-fw"></i> Configurações Gerais<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
                	<li>
						<a href="@{howtodo.ParameterCRUD.showSocialMediaPage(1)}">Redes Sociais</a>
					</li>
                	<li>
						<a href="@{howtodo.ParameterCRUD.showHashKeysPage(1)}">Chaves de Integração</a>
					</li>
                	<li>
						<a href="#">Minhas Coisas <span class="fa arrow"></span></a>
	                    <ul class="nav nav-second-level">
							<li><a href="/admin/empresa/${id}">Dados da Empresa</a></li>
							<li><a href="/admin/usuario/${idu}">Meus dados</a></li>
							<li><a href="@{MonetizzeTransactionCRUD.list}">Monetizze</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="@{howtodo.MessageCRUD.list}"><i class="fa fa-reply fa-fw"></i> Mensagens Recebidas</a></li>
			<li><a href="@{Secure.logout()}"><i class="fa fa-power-off fa-fw"></i> Sair</a></li>
	    </ul>
	</div>
</div>