#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}
<meta charset="utf-8" />
	<div class="row">
		<div class="col-lg-12">
			<div class="col-lg-6">
				#{crud.searchAll /}
			</div>
			<div class="col-lg-6">
				<a href="@{blank()}" class="btn btn-default">&{'crud.add', type.modelName}</a> 
			</div>
		</div>
	</div>
	<div class="col-lg-12 ${type.name}">
        <div class="panel panel-default">
            <div class="panel-heading">
				<div class="form-group">
				    <label for="object_services">
				        Filtrar por URL
				    </label>
			        #{select id:'object.url', name:'object.url', items:urls, valueProperty:'value', labelProperty:'label', class:'form-control', onchange:'javascript:_search(this.value);' }
						<option value="0" selected="selected">Selecione</option>						
					#{/select}
			        <script type="text/javascript">
				        function _search(value) {
				        	window.location = '/admin/sequencia-de-emails?search=' + value + '&order=ASC&orderBy=sequence';
				        }
			        </script>
				</div>
            </div>
            <div class="panel-body">
            	<div class="dataTable_wrapper">
			        #{crud.table fields:['postedAt', 'title', 'url', 'sequence', 'attachment', 'action']}
			        	#{crud.custom 'postedAt'}
			         		<a href="@{SequenceMailCRUD.show(object.id)}">${object.postedAtParsed}</a>
				        #{/crud.custom}
				        #{crud.custom 'title'}
			         		<a href="@{SequenceMailCRUD.show(object.id)}">${object.title}</a>
				        #{/crud.custom}
			        	#{crud.custom 'isActive'}
					    	<a href="@{SequenceMailCRUD.show(object.id)}">${object.isActive? 'Sim' : 'Não'}</a>
				        #{/crud.custom}
			        	#{crud.custom 'attachment'}
					        #{if !object.attachment.exists()}
					        	Nenhum
					        #{/if}
					        #{else}
							    <a class="currentAttachment" href="@{attachment(object.id, 'attachment')}" target="_blank">Baixar (${object.attachment.length().formatSize()})</a>
					        #{/else}
				        #{/crud.custom}
				        #{crud.custom 'action'}
				       		<div class="dropdown">
								<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu${object.id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								  <i class="fa fa-wrench"></i> <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu${object.id}">
                                    <li><a href="@{SequenceMailCRUD.show(object.id)}">Editar</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="@{SequenceMailCRUD.remove(object.id)}">Excluir</a>
								</ul>
							</div>
				        #{/crud.custom}
				    #{/crud.table}
    				<div class="alert alert-info alert-dismissable">
						#{crud.pagination /}
	   				</div>
   				</div>
   			</div>
   				<div class="col-lg-6">
   			</div>
   		</div>
   	</div>
