<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Login | &{parameter.getSiteTitle()}">
<meta name="author" content="">

<title>Descadastro de e-mail | &{parameter.getSiteTitle()}</title>

<!-- Bootstrap Core CSS -->
<link href="@{'public/templatebootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css'}" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="@{'public/templatebootstrap/bower_components/metisMenu/dist/metisMenu.min.css'}" rel="stylesheet">

<!-- Custom CSS -->
<link href="@{'public/templatebootstrap/dist/css/sb-admin-2.css'}" rel="stylesheet">

<!-- Custom Fonts -->
<link href="@{'public/templatebootstrap/bower_components/font-awesome/css/font-awesome.min.css'}" rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<div class="container">
        <div class="row">
            <div class="col-md-12">
				<div class="container">
                	<a href="@{Application.index}"> 
						<div class="logo" style="position: relative; background-image: url('@{Application.getLogo()}'); width:150px; height:150px; border-radius:50%; overflow:hidden; background-size: cover; margin: 30px auto;"></div>
					</a>
				</div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Descadastramento</h2>
                    </div>
                    <div id="panel-body" class="panel-body">
                    	<input type="hidden" id="response" name="response" value="${response}" /> 
						<input type="hidden" id="status" name="status" value="${status}" />
                        <h2 style="text-align: center"><strong>${lead}</strong>,</h2>
                        <h4 style="text-align: center">nós lamentamos, mas respeitamos a sua vontade. Você não receberá mais nossos e-mails.</h4>
                        <h4 style="text-align: center">Você é muito bem-vindo(a) quando quiser voltar a acessar <a href="${parameter.getSiteDomain()}" target="_blank">${parameter.getSiteDomain()}</a>.</h4>
                        <br />
                        <h4 style="text-align: center">Grande abraço,</h4>
                        <h4 style="text-align: center">${parameter.getSiteTitle()}.</h4>
                </div>
            </div>
        </div>
    </div>
    </div>
<script src="@{'public/templatebootstrap/bower_components/jquery/dist/jquery.min.js'}"></script>
	
	<!-- jQuery -->
	<script src="@{'public/templatebootstrap/bower_components/jquery/dist/jquery.min.js'}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="@{'public/templatebootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js'}"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script src="@{'public/templatebootstrap/bower_components/metisMenu/dist/metisMenu.min.js'}"></script>

	<!-- Custom Theme JavaScript -->
	<script src="@{'public/templatebootstrap/dist/js/sb-admin-2.js'}"></script>
	
</body>

</html>
    
